:root {
  --main-color: #fb6bcb;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;
  background-color: rgba(255, 182, 193, 0.5);
  color: #fff;
}
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 100px auto 0;
}
.change-color-section ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.change-color-section li {
  padding: 5px;
  margin-left: 20px;
  border-radius: 10px;
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.change-color-section li#blue:hover,
.change-color-section li#green:hover,
.change-color-section li#pink:hover {
  transform: rotate(-7deg);
  box-shadow: 5px 5px 10px 10px #eee,
    -5px -5px 10px 10px #eee;
}
.header-top {
  display: flex;
  align-items: center;
}
#username {
  background: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px;
}
#username:focus,
#username_button:focus,
#users button:focus,
#recButton:focus {
  outline: none;
  box-shadow: 2px 2px 10px 10px var(--main-color);
}
#username_button,
#recButton {
  border: none;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  margin-left: 20px;
}
#username_button img {
  display: block;
  width: 50px;
  height: 50px;
}
#recButton img {
  display: block;
  width: 50px;
  height: 50px;
}
#alertDiv {
  color: var(--main-color);
}
#users {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 20px 0 0;
}
#users div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#users li {
  position: relative;
  display: block;
  text-align: center;
  background-color: var(--main-color);
  border-radius: 10px;
  margin: 0 10px 0 0;
  padding: 16px;
}
#users button {
  width: 70px;
  height: 70px;
  border: none;
  background: #fff;
  border-radius: 10px;
  background-image: url("../img/remove.svg");
  background-size: 50px 50px;
  background-position: center center;
  background-repeat: no-repeat;
}